# OS
.DS_Store

# Compiled output
node_modules
dist
dist-ssr
out
coverage
.nyc_output

# Logs
logs
*.log
!local/docker/logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*-error.log
*-debug.log

*.local

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
*.tsbuildinfo

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.husky/_
oclif.manifest.json
npm-shrinkwrap.json

# misc
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
